.navbar {
  color: white;
}

.con {
  width: 90%;

  margin-left: 5%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.data {
  margin-left: 25px;
  margin-top: 25px;
}

h3 {
  margin-left: 25px;

}

.navbar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
