body {

}

.navbar {
  color: white;
}

.con {
  width: 500px;
  height: 500px;
  margin-left: 100px;
  margin-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: white;
}

.data{
  margin-left: 25px;
  margin-top: 25px;
}

h3{
  margin-left: 25px;
  margin-top: 50px;
}
